html{
	height:100%;
}

body {
	background-image: url(images/weather.png);
	position:relative;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.navbar-brand {
	background-color: #4aaaa5;
	color: white;
	flex: 0 0 auto;
}

#about {
	display:inline-block;
	position:relative;
	width:100%;
	background-size:contain;
	background-color: white;
	margin-bottom: 20px;
	background-color: white;
	border: 2px solid #dddddd;
}

.page-header {
	margin: 20px;
}


#image {
	float: left;
	margin: 0 10px 10px 10px;
}

#connect {
	height: 200px;
	width: 250;
	border: 2px solid #dddddd;
	background-color: white;
	margin-top: 20px;
	margin-bottom: 150px;
}

#links {
	margin-left: 15px;
}

#input {
	display:inline-block;
	position:relative;
	width:100%;
	background-size:contain;
	background-color: white;
	margin-bottom: 20px;
	background-color: white;
	border: 2px solid #dddddd;
	text-align: center;
}

#textarea {
	height: 40px;
}

#textarea3 {
	height:150px;
}

.input-group {
	width: 90%;
	margin: 10px 25px 10px 25px;
}

#portfolio {

	height:720px;
	width:600px;
	background-color: white;
	border: 2px solid #dddddd;
}

#porttext {
	position: absolute;
	top:120px;
	left:15px;
	width:100%;
	
}

#portpic1 {
	padding: 15px;
	float:left;
	position: relative;
}

#portpic2 {
	padding: 15px;
	float:right;
	position: relative;
}

#portpic3 {
	padding: 15px;
	float:left;
	position: relative;
}

#portpic4 {
	padding: 15px;
	float:right;
	position: relative;
}

#portpic5 {
	padding: 15px;
	float:left;
	position: relative;
}

h2 {
	color: #4aaaa5;
}

p {
	float:left;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin-left:10px;
	margin-right: 10px
}

h3 span{
	color: white;
	font: bold 24px/45px Helvetica, Sans-serif;
	letter-spacing: -1px;
	background: #4aaaa5;
	padding:10px;
}
footer {
	background-color: #666666;
	font-size: 10pt;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
	color: #777777;
	height: 90px;
	padding-top: 40px;
	margin: 0;
	position: absolute;
	width: 100%;
	border-style: solid;
	border-color: #666666;
	border-top-width: 5px;
	border-top-color: #4aaaa5;
	margin-top: 40px;
	bottom:0;
}